.btn {
  border: none;
  padding: 10px;
  color: var(--background);
  font-weight: 700;
  background: var(--gradientMy);
  border-radius: 100px;
  background-position: 0;
  cursor: pointer;

  &:hover,
  &:active {
    background-position: 100%;
  }
}