* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--accent);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  margin: 30px 120px;
  border: 3px solid #C850C0;
  border-radius: 30px;
  background: blanchedalmond;
  box-shadow: 0px 0px 9px 5px rgba(200, 80, 192, 0.7);


}

img {
  display: block;
  width: 100%;
}

button,
input,
a {
  transition: .5s;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.wrapper {
  padding: 0 calc(50vw - 360px);

  @media screen and (max-width: 768px) {
    padding: 0 calc(50vw - 200px);
  }

  @media screen and (max-width: 405px) {
    padding: 0 calc(50vw - 170px);
  }
}

.logo {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;

  &__text {
    background-clip: text;
    background-image: var(--gradientMy);
    color: transparent;
    background-size: 125%;
    animation: floating-gradient 2s infinite alternate;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}