:root {
  --background: #c2c2b9;
  --accent: #ff8f3d;
  --secondary: #1a7391;
  --text-color: #241a04;
  --gradient: linear-gradient(45deg, var(--accent), var(--secondary));
  --gradientMy: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #e47144 100%);

}